
<div class="form-container">
    <form action="/create-session" method="post">

        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
    
        <button type="submit">Sign In</button>
    
    </form>
    
</div>